---
import { getCollection } from "astro:content";

let posts = await getCollection("posts", ({ data }) => {
    return data;
});
---

<ul>
    <div class="title">posts</div>
    {
        posts
            .sort(
                (a, b) =>
                    new Date(b.data.publishedAt).valueOf() -
                    new Date(a.data.publishedAt).valueOf()
            )
            .map((post) => (
                <li class="post">
                    <small>{post.data.type}</small>
                    <header>
                        <a href={`/posts/${post.slug}`}>
                            <h3>{post.data.title}</h3>
                        </a>
                    </header>
                    <p class="text_small">{post.data.description}</p>
                </li>
            ))
    }
</ul>

<style lang="scss">
    li {
        max-width: 37.5rem;
        padding: 0.65rem 0;

        & small {
            color: var(--secondary-accent);
            font-weight: 600;
            text-transform: uppercase;
        }

        & a {
            height: 100%;
            width: 100%;
        }
    }

    header {
        & h3 {
            position: relative;
            display: inline-block;
        }

        & h3::after {
            content: "";
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            height: 0;
            width: 100%;
            background-color: var(--tertiary-accent-750);
            transition: bottom 0.3s ease;
        }

        & h3:hover::after {
            bottom: -0.0125rem;
            height: 0.125rem;
        }
    }
</style>
