---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
  return data.draft !== true;
});
---

<ul>
  {
    posts
      .sort((a, b) => b.data.createdAt - a.data.createdAt)
      .map((post) => (
        <li class='post'>
          <small>{post.data.type}</small>
          <a href={`/posts/${post.slug}`}>
            <header>
              <h3>{post.data.title}</h3>
            </header>
          </a>
          <p class='text_small'>{post.data.description}</p>
        </li>
      ))
  }
</ul>

<style lang='scss'>
  ul {
    & li {
      max-width: 37.5rem;
      padding: 0.65rem 0;

      & small {
        color: var(--secondary-accent);

        font-weight: 400;

        text-transform: uppercase;
      }

      & a {
        height: 100%;
        width: 100%;

        & header {
          & h3 {
            position: relative;
            display: inline-block;
          }
          & h3::after {
            content: '';
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            height: 0;
            width: 100%;
            background-color: var(--tertiary-accent-750);
            transition: bottom 0.3s ease;
          }
          & h3:hover::after {
            bottom: -0.0125rem;
            height: 0.125rem;
          }
        }
      }
    }
  }
</style>
