---
const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class='post'>
        <a href={post.url}>
          <header>
            <small>{post.frontmatter.type}</small>
            <h3>{post.frontmatter.title}</h3>
          </header>
          <p class='text_small'>{post.frontmatter.description}</p>
        </a>
      </li>
    ))
  }
</ul>

<style lang='scss'>
  ul {
    & li {
      max-width: 37.5rem;
      padding: 0.65rem 0;

      & a {
        height: 100%;
        width: 100%;

        & header {
          & small {
            color: var(--secondary-accent);

            font-weight: 400;

            text-transform: uppercase;
          }
        }
      }

      &:hover {
        background-color: hsla(0, 60%, 99%, 0.01);
        backdrop-filter: blur(1px);
      }
    }
    @media (min-width: 31.25rem) {
      & li {
        padding: 0.65rem 0.5rem;
      }
    }
  }
</style>
