---
import PostList from './List.astro';
---

<section>
  <header>
    <a href='/allposts'>
      <h2>writing</h2>
      <img src='/icon-arrow-right.svg' alt='Right icon ' />
    </a>
  </header>
  <PostList />
</section>

<style>
  section {
    margin: 0 0 5rem;

    & header {
      margin: 0 0 1rem;

      & a {
        display: flex;

        & h2 {
          margin: 0 0.25rem 0 0;

          text-transform: capitalize;
        }

        & img {
          width: 1.5rem;
        }
      }
    }
  }
</style>
