---
import CardHeader from '../work/CardHeader.astro';
---

<ul>
  <li>
    <CardHeader
      category='pen'
      title='Particular CSS Animation'
      description='Details about this specific codepen'
    />
    <iframe
      scrolling='no'
      title='001-100_days_css'
      src='https://codepen.io/permalik/embed/jOQMOdO?default-tab=result&theme-id=dark'
      frameborder='no'
      loading='lazy'
      allowtransparency='true'
      allowfullscreen='true'
    >
      See the Pen <a href="https://codepen.io/permalik/pen/jOQMOdO">
      001-100_days_css</a> by permalik (<a
      href="https://codepen.io/permalik">@permalik</a>) on <a
      href="https://codepen.io">CodePen</a>.
    </iframe>
  </li>
</ul>

<style>
  iframe {
    margin: 0.5rem 0 0;

    height: 250px;
    width: 250px;
  }

  @media (max-width: 400px) {
    & iframe {
      height: 250px;
      width: 250px;
    }
  }
</style>
