---
import Button from '../global/Button.astro';
import CardHeader from '../work/CardHeader.astro';
---

<ul>
  <li>
    <CardHeader
      category='pen'
      title='Particular CSS Animation'
      description='Details about this specific codepen'
    />
    <nav>
      <Button>
        <img src='/codepen.svg' alt='Codepen icon' />
      </Button>
    </nav>
  </li>
  <li>
    <CardHeader
      category='pen'
      title='Particular CSS Animation'
      description='Details about this specific codepen'
    />
    <nav>
      <Button>
        <img src='/codepen.svg' alt='Codepen icon' />
      </Button>
    </nav>
  </li>
  <li>
    <CardHeader
      category='pen'
      title='Particular CSS Animation'
      description='Details about this specific codepen'
    />
    <nav>
      <Button>
        <img src='/codepen.svg' alt='Codepen icon' />
      </Button>
    </nav>
  </li>
</ul>

<style>
  ul {
    margin: 0 0 1.5rem;

    display: flex;
    flex-flow: column nowrap;

    & > li:not(:last-child) {
      margin: 0 0 1.5rem;
    }
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
