---
import Button from '../global/Button.astro';
import CardHeader from '../work/Work.astro';
---

<ul>
  <li>
    <CardHeader
      category='app'
      title='permalik primary'
      description='Music Banking and Streaming App'
    />
    <nav>
      <Button href='/' content='demo' />
      <Button href='/' content='source' />
    </nav>
  </li>
  <li>
    <CardHeader
      category='app'
      title='permalik primary'
      description='Music Banking and Streaming App'
    />
    <nav>
      <Button href='/' content='demo' />
      <Button href='/' content='source' />
    </nav>
  </li>
  <li>
    <CardHeader
      category='app'
      title='permalik primary'
      description='Music Banking and Streaming App'
    />
    <nav>
      <Button href='/' content='demo' />
      <Button href='/' content='source' />
    </nav>
  </li>
  <!-- {
    data.map((repo) => (
      <li>
        <h2>
          <span>
            {repo.description
              .split(':')
              .map((k) => k)
              .slice(0, -1)}
          </span>
          {repo.name.split('-').join(' ')}
        </h2>
        <p>
          {repo.description
            .split(':')
            .map((e) => e)
            .slice(1)}
        </p>
        <nav>
          <a href={repo.homepage}>
            <img src='/site.svg' alt='External link icon' />
          </a>
          <a href={repo.html_url}>
            <img src='/code.svg' alt='Angle bracket icon' />
          </a>
        </nav>
      </li>
    ))
  } -->
</ul>

<style>
  ul {
    margin: 0 0 1.5rem;

    & > li {
      display: flex;
      flex-flow: column nowrap;

      & > nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
    }
    & > li:not(:last-child) {
      margin: 0 0 1.5rem;
    }
  }
</style>
