:root {
  --base-light: #FEFBFB;
  // Rufina: 400, 700
  --sans-font: 'Karla Variable', sans-serif;
}
html {
  color: var(--base-light);
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  // Oxygen: 300, 400, 700
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  letter-spacing: .03rem;

  overflow-wrap: break-word;
}
// Font Sizing
// Minor Third
h1 {font-size: 2.488rem;}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

h6 {font-size: 1.1rem;}

small, .text_small {font-size: 0.8rem;}

p, a {
  font-size: clamp(1rem, 5vw, 1.125rem);
}
a {
  color: #FEFBFB;

  text-decoration: none;
}
ul {
  padding: 0;

  list-style: none;
}
.content {
  display: grid;

  & h1 {
    font-size: clamp(2rem, 5vw, 2.25rem);
  }
  & h2, h3, h4, h5, h6 {
    font-family: var(--sans-font);
  }
  & h3, h4, h5, h6 {
    padding-top: 2rem;
  }
  & h2 {
    padding-top: .75rem;
  }
  & h4 {
    font-weight: 400;
  }
  & h5 {
    text-transform: uppercase;
  }
  & h6 {
    font-weight: 400;
    text-transform: uppercase;
  }
  & p {
    padding-top: .75rem;

    place-self: center;

    font-size: 1.1rem;
  }
}

/* Positioning */
/* Box Model */
/* Display */
/* Color */
/* Text */
/* Other */