:root {
  --primary-dark: #141414;
  --primary-light: #FEFBFB;
  --secondary-accent: #FB5640;
  --tertiary-accent: #40FBB4;
  --sans-font: 'Karla Variable', sans-serif;
  --serif-font: 'Merriweather', serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  color: var(--primary-light);

  font-family: var(--sans-font);
  font-weight: 300;
  line-height: 1.5;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1.125rem;
}
h5, h6 {
  font-size: 1.05rem;
}
small, .text_small {
  font-size: clamp(0.75rem, 3vw, .8rem);
}
small, .text_xs_small {
  font-size: clamp(0.5rem, 3vw, .65rem);
}
p, a {
  font-size: clamp(.8rem, 4.5vw, 1rem);
}
a {
  color: #FEFBFB;

  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
ul {
  padding: 0;

  list-style: none;
}
.content {
  display: grid;
  & h2, h3, h4, h5, h6 {
    font-family: var(--sans-font);
  }
  & h2:not(:first-of-type), h3, h4, h5, h6 {
    padding: 2.5rem 0 0;
  }
  & h4 {
    font-weight: 400;
  }
  & h5 {
    text-transform: uppercase;
  }
  & h6 {
    font-weight: 400;
    text-transform: uppercase;
  }
  & p {
    padding-top: .75rem;

    place-self: center;

    font-family: var(--serif-font);
    font-size: 1.25rem;

    opacity: .85;
  }
}
