:root {
  --base-light: #FEFBFB;
  // Rufina: 400, 700
  --sans-font: 'Karla Variable', sans-serif;
}
html {
  color: var(--base-light);
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  // Oxygen: 300, 400, 700
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  letter-spacing: .03rem;

  overflow-wrap: break-word;
}
// Font Sizing
p, a {
  font-size: clamp(1rem, 5vw, 1.125rem);
}
a {
  color: #FEFBFB;

  text-decoration: none;
}
ul {
  padding: 0;

  list-style: none;
}
.writing-layout {
  & h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-font);
  }
  & h3, h4, h5, h6 {
    padding-top: 2rem;
  }
  & h1 {
    font-size: clamp(2rem, 5vw, 2.25rem);
  }
  & h2 {
    padding-top: 2.5rem;
  }
  & h5 {
    text-transform: uppercase;
  }
  & h6 {
    font-weight: 400;
    text-transform: uppercase;
  }
  & p:not(:first-of-type) {
    padding-top: .5rem;
  }
}

/* Positioning */
/* Box Model */
/* Display */
/* Color */
/* Text */
/* Other */