---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../../content/posts/*.md');
  const uniqueTags = [...new Set(allPosts.map(
    (post) => post.frontmatter.tags
  ).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter(
      (post) => post.frontmatter.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  });
}


const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <h1><span>#{tag}</span> posts</h1>
  <ul>
    { posts.map(
        (post) =>
        <li>
          <a href={`/posts/${post.frontmatter.url}`}>
            {post.frontmatter.title}
          </a>
        </li>
      )
    }
  </ul>
</BaseLayout>

<style lang='scss'>
  h1 {
    & span {
      color: var(--secondary-accent);
    }
  }

  ul {
    line-height: 1.75;

    & li {
      & a {
        font-size: 1.125rem;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }
</style>
