---
import BaseLayout from '../layouts/BaseLayout.astro';
import CodepenList from '../components/Codepen/List.astro';
import GithubList from '../components/github/List.astro';
import Header from '../components/global/Header.astro';
import ProjectCard from '../components/WorkCard.astro';
---

<!-- import { Octokit } from 'octokit';

const octokit = new Octokit(); --><!-- const { data } = await octokit.request('GET /users/{username}/repos', {
  username: `permalik`,
  sort: `created`
}); -->
<BaseLayout>
  <Header header='Recent Work' />
  <section>
    <GithubList />
  </section>
</BaseLayout>

<style>
  section {
    position: relative;

    padding: 2.5rem 0;
  }
</style>
