---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./writing/*.md');
---

<BaseLayout>
  <h1>Writing</h1>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>
            <h2>{post.frontmatter.title}</h2>
          </a>
          <p>{post.frontmatter.description}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h1 {
    font-family: var(--sans-font);
    font-size: clamp(2rem, 5vw, 2.25rem);
  }
  ul {
    padding-top: 2.5rem;
  }
  li:not(:first-child) {
    padding: 2rem 0 0;
  }
  li:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  h2 {
    display: inline;

    font-family: var(--sans-font);
    font-weight: 400;
  }
  h2 {
    position: relative;
    display: inline-block;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: -0.15rem;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #fb5640;
    /* transform: scaleY(0);
    transform-origin: bottom; */
    transition: bottom 0.3s ease; /* Add a transition for the transform property */
  }
  h2:hover::after {
    bottom: -0.001rem;
    height: 0.125rem;
  }
  p {
    padding-top: 0.5rem;
  }
</style>
