---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
---

<BaseLayout title='Ty Malik | Dev'>
  <section>
    <About />
  </section>
</BaseLayout>

<style>
  section {
    padding-top: 3.125rem;
    /* align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; */
  }
</style>
