---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
---

<BaseLayout title='Ty Malik | Dev'>
  <main>
    <About />
  </main>
</BaseLayout>

<style>
  main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
</style>
