---
import Base from '../layouts/Base.astro';
import About from '../components/About.astro';
import Section from '../components/Section.astro';
---

<Base title='Ty Malik | Dev'>
  <main>
    <Section>
      <About />
    </Section>
  </main>
</Base>
