---
import Base from '../layouts/Base.astro';
import Section from '../components/Section.astro';
---

<Base>
  <main>
    <Section>
      <ul>
        <li>Project One</li>
        <li>Project One</li>
        <li>Project One</li>
        <li>Project One</li>
        <li>Project One</li>
      </ul>
    </Section>
  </main>
</Base>
