<h1>Hi, I'm Ty</h1>
<!-- <img
        class='profile'
        src='/profile.jpg'
        width='80'
        height='80'
        alt='Ty Malik'
      /> -->
<h2>Who are you?</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Sed vulputate mi sit amet mauris
  commodo quis imperdiet. Massa massa ultricies mi quis hendrerit dolor magna.
  Amet venenatis urna cursus eget nunc scelerisque. Interdum varius sit amet
  mattis vulputate.
</p>
<h2>What is your goal?</h2>
<p>
  Tincidunt dui ut ornare lectus sit amet est. Viverra accumsan in nisl nisi
  scelerisque eu. Nunc scelerisque viverra mauris in aliquam sem fringilla ut
  morbi. Porttitor leo a diam sollicitudin tempor id eu. Sed libero enim sed
  faucibus turpis in eu mi. Arcu felis bibendum ut tristique et egestas.
</p>
<h2>What are some peripheral goals?</h2>
<p>
  Pellentesque habitant morbi tristique senectus et. Curabitur gravida arcu ac
  tortor dignissim convallis aenean et. Tortor at auctor urna nunc id cursus.
  Consequat semper viverra nam libero justo laoreet sit amet cursus.
</p>

<style lang='scss'>
  h1,
  h2 {
    font-family: var(--sans-font);
  }
  h1 {
    color: var(--base-light);
    font-size: clamp(2rem, 5vw, 2.25rem);
    font-weight: 600;
  }
  h2 {
    padding: 2.5rem 0 0;

    font-weight: 400;
  }
  p {
    padding: 1rem 0 0;
  }
  p:last-of-type {
    padding: 1rem 0 0;
  }
</style>
