<nav contact-modal>
  <a href='https://github.com/permalik/' target='_blank' contact-link>
    <img src='/public/icon-github.svg' alt='Github icon' contact-image />
  </a>
  <a href='https://www.linkedin.com/in/permalik/' target='_blank' contact-link>
    <img src='/public/icon-linkedin.svg' alt='Linkedin icon' contact-image />
  </a>
  <a href='mailto:tymalik@pm.me' contact-link>
    <img src='/public/icon-mail.svg' alt='Email icon' contact-image />
  </a>
  <button contact-modal-close>
    <img src='/public/x.svg' alt='Close icon' contact-image />
  </button>
</nav>

<script>
  const contactModalClose = document.querySelector('[contact-modal-close]');
  const contactModal = document.querySelector('[contact-modal]');

  contactModalClose.addEventListener('click', () => {
    contactModal.classList.remove('visible');
    contactModal.classList.add('hidden');
  });
</script>

<style>
  nav {
    position: absolute;
    bottom: 5rem;

    width: 15rem;
    padding: 0.5rem clamp(0.25rem, 5vw, 1.125rem);
    border-radius: 0.5rem;

    display: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.015);

    backdrop-filter: blur(15px);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);

    & a:not(:last-child) {
      padding: 0.25rem;
    }

    & a:nth-child(4) {
      font-family: var(--sans-font);
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.0125rem;
      text-transform: uppercase;
    }

    & a:nth-child(4):hover {
      text-decoration: underline;
    }

    & a,
    button {
      padding: 0.25rem;
      margin: 0;
      border: none;
      border-radius: 0.5rem;

      display: inline-block;

      background: transparent;

      transition: background 250ms ease-in-out, transform 150ms ease;

      cursor: pointer;

      -webkit-appearance: none;
      -moz-appearance: none;

      & img {
        height: 1.5rem;
        width: 1.5rem;
        min-height: 1.5rem;
        min-width: 1.5rem;
      }
    }

    & a:hover,
    button:hover,
    & a:focus,
    button:focus {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
    }

    & a:focus,
    button:focus {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
    }

    & a:focus,
    button:active {
      background: rgba(255, 255, 255, 0.1);

      transform: scale(1.2);
    }
  }
  .visible {
    display: flex;
  }
  .hidden {
    display: none;
  }
</style>
