---
import github from '../../icon-github.svg';
import linkedin from '../../icon-linkedin.svg';
import mail from '../../icon-mail.svg';
---

<footer>
  <nav>
    <a href='https://github.com/permalik/'>
      <img src={github} alt='Github icon' />
    </a>
    <a href='https://linkedin.com/permalik/'>
      <img src={linkedin} alt='Linkedin icon' />
    </a>
    <a href='mailto:permalik@pm.me'>
      <img src={mail} alt='Email icon' />
    </a>
    <a href='/pdf'>
      <p class='text-orange-400 resume-link'>resume</p>
    </a>
  </nav>
</footer>
