---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<header>
  <img src='/profile.jpg' width='80' height='80' alt='Ty Malik' />
  <nav>
    <a href='https://github.com/permalik/'>
      <img src='/icon-github.svg' alt='Github icon' />
    </a>
    <a href='https://linkedin.com/permalik/'>
      <img src='/icon-linkedin.svg' alt='Linkedin icon' />
    </a>
    <a href='mailto:permalik@pm.me'>
      <img src='/icon-mail.svg' alt='Email icon' />
    </a>
  </nav>
  <nav>
    <a href='/'>about</a>
    <a href='/allWriting'>writing</a>
    <a href='/allWork'>work</a>
    <a href='/resume'>resume</a>
  </nav>
</header>

<style lang='scss'>
  header {
    color: var(--primary);
    font-family: var(--serif-font);
  }
  img {
    border-radius: 5%;
  }
  p {
    font-size: clamp(1.75rem, 5vw, 2.5rem);
    font-weight: 600;
    letter-spacing: 0.06rem;
    padding-top: 0.5rem;
  }
  nav:first-of-type {
    display: flex;
    padding-top: 1.5rem;
    & a > img {
      width: 1.5rem;
    }
    & a:not(:first-child) {
      padding: 0 0 0 2rem;
    }
  }
  nav:last-of-type {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1.5rem;

    & a {
      font-size: clamp(1.125rem, 5vw, 1.3rem);
      font-weight: 300;
    }

    & a:not(:first-child) {
      padding: 0 0 0 1rem;
    }
  }
  /* @media (min-width: 25rem) {
    nav:last-of-type {
      flex-flow: column nowrap;
      padding-top: 5rem;

      & a {
        font-size: clamp(1.125rem, 5vw, 1.3rem);
        font-weight: 300;
      }

      & a:not(:first-child) {
        padding: 2rem 0 0 0;
      }
    }
  } */
</style>
