---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<header class='mb-12'>
  <a href='/'>
    <p class='text-2xl md:text-3xl font-light'>Ty Malik</p>
  </a>
  <p class='text-base md:text-lg font-thin'>developer</p>
</header>

<style lang='scss'>
  header {
    font-family: 'Fira Sans', sans;
  }
</style>
