---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<header>
  <nav class='nav-secondary'>
    <a href='https://github.com/permalik/'>
      <img src='/icon-github.svg' alt='Github icon' />
    </a>
    <a href='https://linkedin.com/permalik/'>
      <img src='/icon-linkedin.svg' alt='Linkedin icon' />
    </a>
    <a href='mailto:permalik@pm.me'>
      <img src='/icon-mail.svg' alt='Email icon' />
    </a>
  </nav>
  <nav class='nav-primary'>
    <a href='/'>about</a>
    <a href='/allWriting'>writing</a>
    <a href='/allWork'>work</a>
    <a href='/resume'>resume</a>
  </nav>
</header>

<style lang='scss'>
  header {
    color: var(--primary);
    font-family: var(--sans-font);
  }
  .nav-secondary {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 0 0 2rem;
    & a:not(:last-child) {
      padding-right: 3rem;
    }
    & a > img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .nav-primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    & a {
      font-size: clamp(1rem, 5vw, 1.25rem);
      font-weight: 400;
      text-transform: uppercase;
    }
    & a:not(:first-child) {
      padding: 0 0 0 1.5rem;
    }
  }
  /* @media (min-width: 25rem) {
    nav:last-of-type {
      flex-flow: column nowrap;
      padding-top: 5rem;

      & a {
        font-size: clamp(1.125rem, 5vw, 1.3rem);
        font-weight: 300;
      }

      & a:not(:first-child) {
        padding: 2rem 0 0 0;
      }
    }
  } */
</style>
