---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<header>
  <nav class='nav-secondary'>
    <a href='https://github.com/permalik/'>
      <img src='/icon-github.svg' alt='Github icon' />
    </a>
    <a href='https://linkedin.com/permalik/'>
      <img src='/icon-linkedin.svg' alt='Linkedin icon' />
    </a>
    <a href='mailto:permalik@pm.me'>
      <img src='/icon-mail.svg' alt='Email icon' />
    </a>
  </nav>
  <nav class='nav-primary'>
    <a class='primary-link' href='/'>about</a>
    <a class='primary-link' href='/allWriting'>writing</a>
    <a class='primary-link' href='/allWork'>work</a>
    <a class='primary-link' href='/resume'>resume</a>
  </nav>
</header>

<style lang='scss'>
  header {
    padding: 2rem 0 6rem;

    display: flex;
    flex-flow: column nowrap;

    color: var(--primary);

    font-family: var(--sans-font);
  }
  .nav-secondary {
    padding: 0 0.25rem 2rem;

    display: flex;
    align-items: baseline;
    justify-content: center;

    & a:not(:last-child) {
      padding-right: 3rem;
    }
    & a > img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .nav-primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    & a {
      font-size: clamp(1rem, 5vw, 1.25rem);
      font-weight: 400;
      text-transform: uppercase;
    }
    & a:not(:first-child) {
      margin: 0 0 0 clamp(1rem, 3vw, 1.5rem);
    }
  }
  .primary-link {
    position: relative;
    display: inline-block;
  }

  .primary-link::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #fb5640;
    /* transform: scaleY(0);
    transform-origin: bottom; */
    transition: bottom 0.3s ease; /* Add a transition for the transform property */
  }

  .primary-link:hover::after {
    bottom: -0.0125rem;
    height: 0.125rem;
  }
  @media (max-width: 20rem) {
    .nav-primary {
      flex-flow: column nowrap;
      align-items: center;
      & a:not(:first-child) {
        padding: 0 0 0 0;
      }
    }
  }
</style>
