---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<section>
  <nav>
    <button contact-button>
      <img src='message.svg' alt='Contact icon' contact-image />
    </button>
    <a class='primary-link' href='/'>home</a>
    <a class='primary-link' href='/allWriting'>writing</a>
    <a class='primary-link' href='/allWork'>work</a>
    <a class='primary-link' href='/resume'>resume</a>
  </nav>
  <!-- <nav class='nav-secondary'>
    <a href='https://github.com/permalik/'>
      <img src='/icon-github.svg' alt='Github icon' />
    </a>
    <a href='https://linkedin.com/permalik/'>
      <img src='/icon-linkedin.svg' alt='Linkedin icon' />
    </a>
    <a href='mailto:permalik@pm.me'>
      <img src='/icon-mail.svg' alt='Email icon' />
    </a>
  </nav>
  <nav class='nav-primary'>
  </nav> -->
</section>

<script>
  const contactButton = document.querySelector('[contact-button]');
  const contactImage = document.querySelector('[contact-image]');
  contactButton.addEventListener('mouseover', () => {
    contactImage.classList.add('contact-image');
  });
  contactButton.addEventListener('mouseout', () => {
    contactImage.classList.remove('contact-image');
  });
</script>

<style lang='scss'>
  section {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 1rem;

    /* background-color: #141414;

    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.4); */

    z-index: 1000;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    width: 25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: rgba(255, 255, 255, 0.015);

    backdrop-filter: blur(15px);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);

    & a {
      font-family: var(--sans-font);
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
  button {
    display: inline-block;

    margin: 0;
    border: none;
    border-radius: 50%;

    background-color: transparent;
    color: #ffffff;

    font-family: sans-serif;
    text-align: center;
    text-decoration: none;

    transition: background 250ms ease-in-out, transform 150ms ease;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:hover,
  button:focus {
    /* background: rgba(255, 255, 255, 0.075); */
  }

  /* button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  } */

  button:active {
    transform: scale(0.99);
  }
  .contact-image {
    filter: invert(46%) sepia(37%) saturate(4698%) hue-rotate(337deg)
      brightness(102%) contrast(97%);
  }
</style>
