---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<section>
  <div>
    <nav>
      <a href='https://github.com/permalik/'>
        <img src='/icon-github.svg' alt='Github icon' />
      </a>
      <a href='https://linkedin.com/permalik/'>
        <img src='/icon-linkedin.svg' alt='Linkedin icon' />
      </a>
      <a href='mailto:permalik@pm.me'>
        <img src='/icon-mail.svg' alt='Email icon' />
      </a>
    </nav>
    <!-- TODO: Create a tooltip component -->
    <a href='/' class='divider'>
      <img src='divider.svg' alt='Three-dot divider' />
    </a>
    <nav>
      <a class='primary-link' href='/allWriting'>writing</a>
      <a class='primary-link' href='/allWork'>work</a>
    </nav>
  </div>
</section>

<script>
  const contactButton = document.querySelector('[contact-button]');
  const contactImage = document.querySelector('[contact-image]');
  contactButton.addEventListener('mouseover', () => {
    contactImage.classList.add('contact-image');
  });
  contactButton.addEventListener('mouseout', () => {
    contactImage.classList.remove('contact-image');
  });
</script>

<style lang='scss'>
  section {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 1rem;

    /* background-color: #141414;

    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.4); */

    z-index: 1000;
  }
  div {
    width: 25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.015);

    backdrop-filter: blur(15px);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);

    & a {
      font-family: var(--sans-font);
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
  nav:first-of-type {
    padding-left: 0.5rem;

    display: flex;
    flex-flow: row nowrap;

    & a:not(:first-child) {
      padding-left: 2rem;
    }

    & a > img {
      height: 1.5rem;
      width: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
    }
  }
  .divider {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0.5rem;

    display: inline-block;

    background-color: transparent;
    color: #ffffff;

    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;

    transition: background-color 250ms ease-in-out, transform 150ms ease;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;

    & img {
      height: 1.5rem;
      width: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;

      opacity: 65%;
    }
  }
  .divider:hover,
  .divider:focus {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .divider:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .divider:active {
    background: rgba(255, 255, 255, 0.1);

    transform: scale(1.2);
  }
  nav:last-of-type {
    padding-right: 0.5rem;

    display: flex;
    flex-flow: row nowrap;

    & a {
      font-weight: 600;
      letter-spacing: 0.0125rem;
    }

    & a:not(:first-child) {
      padding-left: 2rem;
    }
  }
  .contact-image {
    filter: invert(46%) sepia(37%) saturate(4698%) hue-rotate(337deg)
      brightness(102%) contrast(97%);
  }
</style>
