<nav class='mb-6 space-x-3 text-orange-400'>
  <a href='/'>about</a>
  <a href='/allWriting'>writing</a>
  <a href='/allProjects'>projects</a>
  <a href='/allPens'>pens</a>
</nav>

<style lang='scss'>
  a {
    color: var(--primary);
    font-family: 'Fira Sans', sans;
  }
</style>
