---
export interface Props {
  name: string;
  description: string;
  htmlURL: string;
  topics: string[];
}

const { name, description, htmlURL, topics } = Astro.props;
---

<li class='hover:bg-stone-700/10'>
  <a href={htmlURL}>
    <p class='font-sans font-medium capitalize'>
      {name.split('-').join(' ')}
      <span class='tracking-wide text-teal-300 uppercase'>
        •{' '}
        {description
          .split(':')
          .map((k) => k)
          .slice(0, -1)}
      </span>
    </p>
    <p>
      {description
        .split(`:`)
        .map((e) => e)
        .slice(1)}
    </p>
  </a>
  <ul class='flex space-x-2'>
    {topics.map((topic) => (
      <a href=`/projects/${topic}`>
        <li class='tracking-wide text-teal-300/80 hover:text-teal-300'>
          #{topic}
        </li>
      </a>
    ))}
  </ul>
</li>