---
export function getStaticPaths() {
  return [{ params: { work: 'typescript' } }];
}

const { work } = Astro.params;

<!-- import { Octokit } from 'octokit';

const octokit = new Octokit();

const { data } = await octokit.request('GET /users/{username}/repos', {
  username: `permalik`,
  sort: `created`
}); -->

const taggedWork = [];

data.forEach((repo) => {
  repo.topics.map((topic) => {
    if (topic === work) {
      taggedWork.push(repo);
    }
  });
});
---

<ul>
  {taggedWork.map((project) => <li>{project.name}</li>)}
</ul>
