---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <section>
      <Header />
      <!-- <slot />
      <Footer /> -->
    </section>
  </body>
</html>

<style>
  body {
    background-color: #04110b;
  }
  section {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
  @media (min-width: 25rem) {
    section {
      padding-top: 10rem;
    }
  }
</style>
