---
import '../styles/global.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  const url = new URL(window.location.href);

  if (url.pathname === '/') {
    document.querySelector('[home-link]').classList.add('active-link');
  } else if (url.pathname === '/allWriting') {
    document.querySelector('[writing-link]').classList.add('active-link');
  } else if (url.pathname === '/allWork') {
    document.querySelector('[work-link]').classList.add('active-link');
  }
</script>

<style lang='scss'>
  body {
    min-height: 100vh;

    background-color: var(--primary-dark);
  }
  main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem clamp(0.5rem, 3vw, 2rem);
  }
</style>
