---
import FullWorkList from './FullList.astro';
---

<section>
  <header>
    <h2>All Work</h2>
  </header>
  <FullWorkList />
</section>

<style>
  section {
    & header {
      margin: 0 0 1rem;

      & h2 {
        margin: 0 0.25rem 0 0;

        text-transform: capitalize;
      }
    }
  }
</style>
