---
import List from './List.astro';
---

<section>
  <header>
    <a href='/allwork'>
      <h2>work</h2>
      <img src='/icon-arrow-right.svg' alt='Right icon' />
    </a>
  </header>
  <List />
</section>

<style>
  section {
    & header {
      margin: 0 0 1rem;

      & a {
        display: flex;

        & h2 {
          margin: 0 0.25rem 0 0;

          text-transform: capitalize;
        }

        & img {
          width: 1.5rem;
        }
      }
    }
    & ul {
      & li {
        & a {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
</style>
