---
import Button from './Button.astro';
import Header from './Header.astro';
---

<Header header="Hi, I'm Ty" />
<div class='wrapper'>
  <section>
    <div>
      <nav>
        <Button href='https://github.com/permalik/'>
          <img class='contact-image' src='/icon-github.svg' alt='Github icon' />
        </Button>
        <Button href='https://www.linkedin.com/in/permalik/'>
          <img
            class='contact-image'
            src='/icon-linkedin.svg'
            alt='Linkedin icon'
          />
        </Button>
        <Button href='mailto:tymalik@pm.me'>
          <img class='contact-image' src='/icon-mail.svg' alt='Email icon' />
        </Button>
      </nav>
      <img
        class='profile'
        src='/profile.jpg'
        width='100'
        height='100'
        alt='Ty Malik'
      />
    </div>
  </section>
  <section>
    <h2>Who are you?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sed vulputate mi sit
      amet mauris commodo quis imperdiet. Massa massa ultricies mi quis
      hendrerit dolor magna. Amet venenatis urna cursus eget nunc scelerisque.
      Interdum varius sit amet mattis vulputate.
    </p>
  </section>
</div>

<style lang='scss'>
  .wrapper {
    padding: 10rem 0 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    & > section:first-of-type {
      & > div {
        display: inline-block;

        & > img {
          margin: 1.5rem auto 0;
        }
      }
    }
  }
  @media (max-width: 37.5rem) {
    .wrapper {
      grid-template-columns: 1fr;

      & > section:last-of-type {
        margin: 1.5rem 0 0;
      }
    }
  }
  h1,
  h2 {
    font-family: var(--sans-font);
    font-weight: 400;
  }
  h1 {
    color: var(--base-light);

    font-weight: 600;
  }
  img {
    height: 100px;
    width: 100px;
    border-radius: 0.25rem;
  }
  nav {
    border: none;
    border-radius: 0.5rem;

    display: flex;
    flex-flow: row nowrap;

    background-color: transparent;

    transition: background-color 250ms ease-in-out, transform 150ms ease;
  }
  .contact-image {
    height: 1.5rem;
    width: 1.5rem;
  }
  p {
    padding: 0.75rem 0 2rem;
  }
</style>
