---
export interface Props {
  content: string;
  href: string;
}

const { href, content } = Astro.props;
---

<a href={href}>
  {content}
</a>

<style>
  a {
    border: none;
    border-radius: 0.5rem;

    background-color: transparent;

    font-family: var(--sans-font);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;

    opacity: 0.75;
  }
  a:not(:last-of-type) {
    margin-right: 1rem;
  }
  a:hover {
    color: #40fbb4;
  }
  a:active {
    opacity: 0.95;
  }
</style>
