<header>
  <h1>Ty Malik</h1>
  <p>
    <span> I develop software, read, and write.</span>
    <span> This is an archive of my work.</span>
  </p>
  <nav>
    <a href='https://github.com/permalik/'>
      <img src='/icon-github.svg' alt='GitHub icon' />
    </a>
    <a href='https://www.linkedin.com/in/permalik/'>
      <img src='/icon-linkedin.svg' alt='LinkedIn icon' />
    </a>
    <a href='mailto:tymalik@pm.me'>
      <img src='/icon-mail.svg' alt='Mail icon' />
    </a>
  </nav>
</header>

<style lang='scss'>
  header {
    margin: 0 0 5rem;

    font-family: var(--sans-font);

    & p {
      margin: 0 0 1rem;
      max-width: calc(10rem + 100px);

      & > span {
        display: table;
      }
    }

    & nav {
      display: flex;
      flex-wrap: nowrap;

      & a {
        opacity: 0.5;

        &:not(:last-child) {
          margin: 0 2rem 0 0;
        }

        & img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
</style>
