---
export interface Props {
  header: string;
}

const { header } = Astro.props;
---

<header>
  <h1>
    {header}
  </h1>
</header>

<style>
  header {
    & h1 {
      font-family: var(--sans-font);
    }
  }
</style>
