---
const { href, title } = Astro.props;
---

<a class="text_small" href={href}>{title}</a>

<style lang="scss">
  a {
    margin: 0 1.5rem 0 0;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.65;

    &:hover {
      color: var(--tertiary-accent-750);
      opacity: 1;
    }
  }
</style>
